<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.river.reading"
    >

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
  <!-- 蓝牙分享所需的权限 -->
  <uses-permission android:name="android.permission.BLUETOOTH"/>
  <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

  <application
      android:name="com.river.reading.common.MyApplication"
      android:allowBackup="true"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/BaseAppTheme"
      >
    <activity
        android:name="com.river.reading.module.news.ui.NewsActivity"
        android:label="@string/app_name"
        android:theme="@style/BaseAppTheme.LauncherAppTheme"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name="com.river.reading.module.picture.view.image.GirlActivity"
        android:theme="@style/BaseAppTheme.LauncherAppTheme"
        />
    <activity
        android:name="com.river.reading.module.picture.view.home.HomeActivity"
        android:theme="@style/BaseAppTheme.AppTheme"
        />

    <activity
        android:name="com.river.reading.module.news.ui.NewsDetailActivity"
        android:label="@string/title_activity_scrolling"
        android:theme="@style/BaseAppTheme.AppTheme"
        />

    <activity
        android:name="com.river.reading.module.joke.view.activity.JokeActivity"
        android:label="@string/title_activity_joke"
        android:theme="@style/BaseAppTheme.AppTheme"
        />
    <activity android:name="com.river.reading.module.joke.view.activity.ImageDetailActivity"
        android:label="@string/title_activity_joke"
        android:theme="@style/BaseAppTheme.AppTheme"
        />
    <activity android:name="com.river.reading.module.joke.view.activity.TextJokeDetailActivity"
        android:label="@string/title_activity_joke"
        android:theme="@style/BaseAppTheme.AppTheme"
        />
  </application>

</manifest>